
# Vivado folders
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.runs/
*.srcs/
*.gen/
*.ioplanning/
ip_repo/

# Vivado project files
*.xpr

# Exported Vivado design file
*.xsa

# Waveform temporary files
*.wdb

# Vivado log and journal files
vivado.jou
vivado.log
*.backup.jou
*.backup.log

# Compiler log files
xvlog.log
xvlog.pb
xelab.log
xelab.pb
xsim.jou
xsim.log

# Simulation directory
xsim.dir/

# Generated Vivado project dir
picotem-transceiver-fpga/

# Temporary VIvado directory for bookkeeping
.Xil

# Temp directory
tmp/

# Makefile temp variables
.comp_sv.timestamp
.comp_v.timestamp
.comp_vhdl.timestamp
.elab_timestamp

# Documentation build folder and any output files from diagram conversion
docs/_build
docs/**/*.png
docs/**/*.svg
!docs/img/*.png
!docs/img/*.png

output/
